<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Password Reset (Quasar Version), <%= @username %></h1>
    
    <p>
      To reset your password, just follow this link: <a href="#"> <%= @url %></a> .
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>