
Welcome to Reset Password (Quasar Version), <%= @username %>
===============================================

 
To reset your password, just follow this link:  <a href="#"> <%= @url %></a>.
 
Thanks for joining and have a great day!