
Welcome to Twitter (Quasar Version), <%= @username %>
===============================================
 
You have successfully signed up to Twitter (Quasar Version),
your username is:<%= @username %>.
 
To login to the site, just follow this link:  <a href="#"> <%= @url %></a>.
 
Thanks for joining and have a great day!