
          <div class="heading2">
            <a href="index.html">
              <svg class="arrow">
                <path
                  d="M20 11H7.414l4.293-4.293c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0l-6 6c-.39.39-.39 1.023 0 1.414l6 6c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L7.414 13H20c.553 0 1-.447 1-1s-.447-1-1-1z"
                ></path>
              </svg>
            </a>
            <div class="user-head">
              <h3 class="mb-0">amirDBT</h3>
              <span class="text-muted">1,672 Tweets</span>
            </div>
          </div>
          <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Followers</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >Following</a
              >
            </li>

          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
            
            <div class="card">
                <div class="card-body">
                    <div class="fr-details">
                        <div class="urd"><img
                            alt=""
                            draggable="true"
                            src="https://pbs.twimg.com/profile_images/1197936225828691968/jL4Yv9GE_400x400.jpg"
                            class="rounded-circle"
                            width="50px"
                          />
                          <div class="de ml-2" >
                              <div class="user-follows">
                                Abdulqudus Abubakre  <span class="badge badge-light text-muted">Follows you</span>
                              </div>
                            
                            <span class="text-muted">@ibn_Abubakre</span>
                          </div></div>
                        <button class="btn btn-primary btn2 btf"><span >Following</span></button>
                      </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="fr-details">
                       <div class="urd">
                        <img
                        alt=""
                        draggable="true"
                        src="https://pbs.twimg.com/profile_images/1141402499435438081/Sr04njpb_400x400.jpg"
                        class="rounded-circle"
                        width="50px"
                      />
                      <div class="de ml-2" >
                        <div class="user-follows">
                            Tony Nta  <span class="badge badge-light text-muted">Follows you</span>
                          </div>
                        <span class="text-muted">@tony_nta</span>
                      </div>
                       </div>
                        <button class="btn btn-outline-primary btn2"><span>Follow</span></button>
                      </div>
                </div>
            </div>
            
            </div>

            <div
              class="tab-pane fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
            <div class="card">
                <div class="card-body">
                    <div class="fr-details">
                        <div class="urd"><img
                            alt=""
                            draggable="true"
                            src="https://pbs.twimg.com/profile_images/1195874236675624960/8cBE9ek__400x400.jpg"
                            class="rounded-circle"
                            width="50px"
                          />
                          <div class="de ml-2" >
                           Iman Wada
                            <span class="text-muted">@iman_wada</span>
                          </div></div>
                        <button class="btn btn-primary btn2 btf"><span>Following</span></button>
                      </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="fr-details">
                       <div class="urd"> <img
                        alt=""
                        draggable="true"
                        src="https://pbs.twimg.com/profile_images/1141402499435438081/Sr04njpb_400x400.jpg"
                        class="rounded-circle"
                        width="50px"
                      />
                      <div class="de ml-2" >
                        <div class="user-follows">
                            Tony Nta  <span class="badge badge-light text-muted">Follows you</span>
                          </div>
                        <span class="text-muted">@tony_nta</span>
                      </div></div>
                        <button class="btn btn-primary btn2 btf"><span>Following</span></button>
                      </div>
                </div>
            </div>
            </div>
           
          </div>
    